# My First Assignment Python

## Question 1.Explain the key features of Python that make it a popular choice for programming.
There are some key features of Python that make it a popular choice for programming. 
they are :
1. Simple and Readable Syntax:
    -> Python's syntax is clear and so simple, which make it accessible for 
    beginners. It emphasizes readability and reduces the complexity of 
    writing and maintaning code.
2. High-Level Language:
    -> Python abstracts away much of the complexity involved in memory
    management and lower-level programming tasks. This allows developers 
    to focus more on solving problems rather than managing the 
    intricacies of the hardware.
3. Dynamic Typing:
    -> Python uses dynamic type, which means we don't have to declare the
    type of a variable when you create it. This feature speed up to make 
    the code easier to write and read.
4. Interpreted Language:
    -> Python is an interpreted language, meaning it executes code line by line,
    which makes debugging and testing faster.
5. Vast Library:
    ->Python Programming Language have a lot of libraries more than
    1,37,000 libraries which are used in Machine Learning, Data Implementation,
    Data Science, Data Manipulation and Visualisation and more.
6. Community and Ecosystem:
    -> Python has a large and active community that contributes to a 
    vast ecosystem of third-party libraries and frameworks. Tools like 
    NumPy, Pandas, TensorFlow, and Django extend Pythonâ€™s functionality 
    and make it suitable for a wide range of applications, from 
    web development to data science.

7.  Versatility:->
    Python is used in various domains, including web development (Django, Flask), data science and machine learning (Pandas, Scikit-Learn), automation (Selenium, scripts), and even game development (Pygame). Its versatility makes it a valuable tool for many different types of projects.
8.  Object-oriented and Functional Programming:->
    Python supports multiple programming paradigms, including object-oriented programming (OOP) and functional programming. This flexibility allows developers to choose the best approach for their particular needs.
9.  Strong Integration Capabilities:->
    Python can easily interface with other languages like C/C++ and Java, as well as with various APIs and systems. This makes it possible to integrate Python with other technologies and leverage existing codebases.
10. Education Value:-> 
    Python is often used as a first programming language in educational settings due to its simplicity and readability. Learning Python provides a solid foundation for understanding more complex programming concepts and languages.
11. Cross-Platform Compatibility:->
    Python is available on various platforms, including Windows, macOS, and Linux. This cross-platform nature ensures that Python code can run on different operating systems with minimal modification.
### These features make widely usable and popular in all over world.

## Question 2. Describe the role of predefined keywords in Python and Provide examples of how they are used in a program.
##### Keywords are reserved words in Python that have special meanings and cannot be used as identifiers (variable names, function names, etc.). 
##### Here's a overview of some key predefined keywords in Python,along with examples of how they are used:
### Key Features of Keywords
##### 1. Reserved: Keywords have a predefined meaning and cannot be redefined or used for other purposes. For instance, you cannot name a variable 'class' or 'if'.
##### 2. Syntax and Control Flow: Many keywords are used to control the flow of execution and structure of the code, such as 'if', 'for', 'while', 'try', and 'except'.
##### 3. Data Structures and Definitions: Keywords like 'def', 'class', and 'return' are used to define functions, classes, and return values.
### Examples of Python Keywords in Use

#### 1. 'if','elif','else': Used for conditional statements

In [3]:
x = 10
if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x is equal to 5")
else:
    print("x is less than 5")

x is greater than 5

#### 2. 'for','while': used for looping.

In [11]:
#using for loop
for i in range(5):
    print(i)
    
#using while loop
count = 0
while count <5:
    print(count)
    count += 1

0
1
2
3
4
0
1
2
3
4

#### 3. 'def': Used to define functions.

In [14]:
def greet(name):
    return f"Hello, {name}!"
print(greet("Satyam"))

Hello, Satyam!

#### 4. 'class': Used to define classes.

In [17]:
class Dog:
    def __init__(self, name):
        self.name = name
        
    def bark(self):
        return f"{self.name} says woof!"
my_dog = Dog("Buddy")
print(my_dog.bark())

Buddy says woof!

#### 5. 'try', 'except', 'finally': Used for exception handling.

In [18]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero!")
finally:
    print("Execution completed.")

Cannot divide by zero!
Execution completed.

#### 6.'import': Used to include modules.

In [19]:
import math
print(math.sqrt(16))

4.0

#### 7. 'return': Used to return a value from a function.

In [20]:
def square(x):
    return x * x

print(square(4))

16

#### 8. 'with': Used for resource management (context managers).

with open("file.txt","r") as file:
    content = file.read()
print(content)

#### 9.'pass': A placeholder for future code (does nothing)

In [23]:
def placeholder_function():
    pass #This function does nothing yet

#### 10. 'yield': Used in generator functions to produce a sequence of values.

In [24]:
def count_up_to(max):
    count = 1
    while count <= max:
        yield count
        count += 1

for num in count_up_to(5):
    print(num)

1
2
3
4
5

### Complete List of Python Keywords

### As of Python 3.11, here is a list of Python keywords:

-> 'False'
-> 'None'
-> 'True'
-> 'and'
-> 'as'
-> 'assert'
-> 'async'
-> 'await'
-> 'break'
-> 'class'
-> 'continue'
-> 'def'
-> 'del'
-> 'elif'
-> 'else'
-> 'except'
-> 'finally'
-> 'for'
-> 'from'
-> 'global'
-> 'import'
-> 'in'
-> 'is'
-> 'lambda'
-> 'nonlocal'
-> 'not'
-> 'or'
-> 'pass'
-> 'raise'
-> 'return'
-> 'try'
-> 'while'
-> 'with'
-> 'yield'

Each keyword serves a specific role in Python programming, enabling developers to write clear and functional code.

## Question 3. Compare and contrast mutable and immutable objects in Python with examples.
In Python, objects are categorized into mutable and immutable types based on whether their state or value can be changed after they are created. Understanding the difference between these two categories is essential for effective programming and managing state in your applications.

### Mutable Objects
Definition: Mutable objects are those whose value or state can be changed after they are created. This means that the object can be modified in place.

Examples: Lists, dictionaries, and sets are common mutable objects in Python.

#### Characteristics:

Modification: You can change the content of the object without creating a new object.
Identity: Even if the content changes, the object's identity (its address in memory) remains the same.
#### Examples and usage:

#### 1. Lists:

In [27]:
my_list = [1, 2, 3]
print(my_list)  # Output: [1, 2, 3]
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3]
[1, 2, 3, 4]

#### 2. Dictionaries

In [33]:
my_dict = {'name': 'Satyam', 'age': 25}
print(my_dict)  # Output: {'name': 'Satyam', 'age': 25}
my_dict['age'] = 26
print(my_dict)  # Output: {'name': 'Satyam', 'age': 26}

{'name': 'Satyam', 'age': 25}
{'name': 'Satyam', 'age': 26}

#### 3. Sets:

In [35]:
my_set = {1, 2, 3}
print(my_set)  # Output: {1, 2, 3}
my_set.add(4)
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3}
{1, 2, 3, 4}

### Immutable Objects
##### Definition: Immutable objects are those whose value or state cannot be changed after they are created. Any modification will result in the creation of a new object.
####  Examples: Tuples, strings, and integers are common immutable objects in Python.
#### Characteristics:
##### -> Modification: You cannot change the content of the object in place; you need to create a new object if you want to modify its value.
##### -> Identity: The object's identity (its address in memory) remains the same if its value remains unchanged.
#### Examples and Usage:

In [36]:
#1 Tupples:
my_tuple = (1, 2, 3)
print(my_tuple)  # Output: (1, 2, 3)
# my_tuple[0] = 4  # This would raise a TypeError because tuples are immutable

(1, 2, 3)

In [37]:
#2 Strings:
my_str = "hello"
print(my_str)  # Output: hello
new_str = my_str.replace("h", "j")
print(new_str)  # Output: jello
print(my_str)   # Output: hello (original string remains unchanged)

hello
jello
hello

In [38]:
#3 Integers:
my_int = 10
print(my_int)  # Output: 10
my_int += 5
print(my_int)  # Output: 15 (a new integer object is created; the old one is discarded)

10
15

### Comparison and Contrast
#### 1. Modification:

-> Mutable: Can be modified in place (e.g., list elements can be updated).
-> Immutable: Cannot be modified; any changes result in a new object being created.
#### 2. Performance:

-> Mutable: Often more memory-efficient for operations that involve changing the object frequently.
-> Immutable: Can lead to higher memory usage if many modifications are required, as new objects are created for each change.
#### 3. Use Cases:

-> Mutable: Suitable for objects that need to be changed frequently, such as lists of items, dictionaries for key-value pairs, etc.
-> Immutable: Ideal for objects that should not change after creation, such as fixed configurations, keys in dictionaries, or string constants.
#### 4. Hashing:

-> Mutable: Objects like lists cannot be hashed and used as dictionary keys because their state can change.
-> Immutable: Objects like tuples and strings can be hashed and used as dictionary keys because their state is fixed.
##### Understanding these properties helps in choosing the right data structure and in designing functions and algorithms that work efficiently with both mutable and immutable types.

## Question 4.  Discuss the different types of operators in Python and provide examples of how they are used

In Python, operators are special symbols or keywords used to perform operations on operands (variables, values, etc.). They are categorized into several types based on the nature of the operations they perform. Hereâ€™s a comprehensive overview of the different types of operators in Python, along with examples for each:
### 1. Arithmetic Operators
Arithmetic operators are used to perform mathematical operations.

In [2]:
# Addition ('+'): Adds two operands
a = 5
b = 3
result = a + b # result is 8
result

8

In [3]:
# Subtraction ('-'): Subtracts the second operand from the first.
result = a - b # result is 2
result

2

In [4]:
# Multilication ('*'): Multiplies two operands.
result = a * b # result is 15 
result

15

In [5]:
# Division ('/'): Divides the first operand by the second and returns a float.
result = a / b # result 1.6666666666666667
result

1.6666666666666667

In [6]:
# Floor Division ('//'): Divides the first operand by the second and returns the largest integer less than or equal to the result.
result = a // b #result is 1
result

1

In [7]:
# Modulus ('%'): Returns the remainder of the division.
result = a % b # result is 2
result

2

In [8]:
#Exponentiation ('**'): Raises the first operand to the power of the second.
result = a**b #result is 125
result

125

### Comparison Operators
Comparison operators are used to compare two values and return a Boolean result ('True' or 'False').

In [11]:
#Equal to ('=='): Checks if two values are equal.
result = (a == b) #result is False
result

False

In [12]:
#Not equal to ('!='): Checks if two values are not equal.
result = (a != b)  # result is True
result

True

In [16]:
#Greater than (>): Checks if the first value is greater than the second.
result = (a > b)  # result is True
result

True

In [52]:
#Less than ('<'): Checks if the first value is less than the second.
result = (a < b)  # result is False
result

False

In [51]:
#Greater than or equal to ('>='): Checks if the first value is greater than or equal to the second.
result = (a >= b)  # result is True
result

True

In [50]:
#Less than or equal to ('<='): Checks if the first value is less than or equal to the second.
result = (a <= b)  # result is False
result

False

### 3. Logical Operators
Logical operators are used to combine conditional statements.

In [20]:
#And ('and'): Returns 'True' if both operands are 'True'.
result = (a > b) and (b > 0)  # result is True
result

True

In [49]:
# Or ('or'): Returns True if at least one of the operands is True.
result = (a > b) or (b < 0)  # result is True
result

True

In [48]:
#Not ('not'): Returns True if the operand is False.
result = not (a > b)  # result is False
result

False

### 4. Assigment Operators
Assignment operators are used to assign values to variables.

In [31]:
#Assignment ('='): Assigns a value to a variable.
x = 10
x

10

In [32]:
#Add and assign ('+='): Adds the right operand to the left operand and assigns the result to the left operand.
x += 5 # x is now 15
x

15

In [33]:
#Subtract and assign ('-='): Subtracts the right operand from the left operand and assigns the result to the left operand.
x -= 3  # x is now 12
x

12

In [34]:
#Multiply and assign ('*='): Multiplies the left operand by the right operand and assigns the result to the left operand.
x *= 2  # x is now 24
x

24

In [47]:
#Divide and assign ('/='): Divides the left operand by the right operand and assigns the result to the left operand.
x /= 4  # x is now 6.0
x

0.25

In [37]:
#Modulus and assign ('%='): Takes the modulus of the left operand by the right operand and assigns the result to the left operand.
x %= 5  # x is now 1.0
x

1.0

In [46]:
#Exponentiation and assign ('**='): Raises the left operand to the power of the right operand and assigns the result to the left operand.
x **= 2  # x is now 1.0
x

1.0

### 5. Bitwise Operators
Bitwise operators are used to perform bit-level operations on integers.

In [40]:
#AND ('&'): Performs a bitwise AND operation.
a = 10  # 1010 in binary
b = 4   # 0100 in binary
result = a & b  # result is 0 (0000 in binary)
result

0

In [41]:
#OR ('|'): Performs a bitwise OR operation.
result = a | b  # result is 14 (1110 in binary)
result

14

In [42]:
#XOR ('^'): Performs a bitwise XOR operation.
result = a ^ b  # result is 14 (1110 in binary)
result

14

In [43]:
#Complement ('~'): Performs a bitwise NOT operation (inverts all bits).

result = ~a  # result is -11 (inverted bits of 10)
result

-11

In [44]:
#Left Shift ('<<'): Shifts bits to the left.
result = a << 1  # result is 20 (10100 in binary)
result

20

In [45]:
#Right Shift ('>>'): Shifts bits to the right.
result = a >> 1  # result is 5 (0101 in binary)
result

5

### 6. Identity Operators
Identity operators are used to compare the memory locations of two objects.

In [53]:
#'is': Returns 'True' if both operands refer to the same object.
a = [1, 2, 3]
b = a
result = (a is b)  # result is True
result

True

In [55]:
#'is not': Returns 'True' if both operands do not refer to the same object.
c = [1, 2, 3]
result = (a is not c)  # result is True
result

True

### 7. Membership Operators
Membership operators are used to test whether a value is a member of a sequence (like a list, tuple, or string).

In [56]:
#'in': Returns 'True' if the value is found in the sequence.
a = [1, 2, 3]
result = 2 in a  # result is True
result

True

In [57]:
# 'ot in' Returns 'True' if the value is not found in the sequence.
result = 4 not in a  # result is True
result

True

### 8. Conditional Expressions
Conditional expressions (also known as ternary operators) are used for conditional assignments.

In [59]:
# 'x if condition else y': Returns 'x' if the condition is 'True', otherwise returns 'y''.
age = 20
status = "Adult" if age >= 18 else "Minor"
status

'Adult'

#### Summary
Understanding and using these operators effectively allows for precise and efficient control over data and operations in Python programs. Each operator type plays a specific role in handling arithmetic, comparisons, logic, bitwise operations, and more.

## Ouestion 5.Explain the concept of type casting in Python with examples
Type casting (or type conversion) in Python refers to the process of converting a value from one data type to another. This is often necessary when you need to ensure that data is in the correct format for operations or when combining different types of data. Python provides several built-in functions for type casting.
### Common Type Casting Functions

In [63]:
#1 'int()': Converts a value to an integer.
# Convert float to integer
num_float = 5.7
num_int = int(num_float)  # result is 5

# Convert string to integer
num_str = "123"
num_int = int(num_str)  # result is 123

# Invalid conversion
# num_str = "abc"
# num_int = int(num_str)  # This will raise a ValueError

In [62]:
#2 'float()': Converts a value to a float.
# Convert integer to float
num_int = 7
num_float = float(num_int)  # result is 7.0

# Convert string to float
num_str = "3.14"
num_float = float(num_str)  # result is 3.14

# Invalid conversion
# num_str = "abc"
# num_float = float(num_str)  # This will raise a ValueError

In [64]:
#3 'str()': Converts a value to a string.
# Convert integer to string
num_int = 42
num_str = str(num_int)  # result is "42"

# Convert float to string
num_float = 3.14
num_str = str(num_float)  # result is "3.14"

In [65]:
#4 'bool()': Converts a value to a boolean ('True' or 'False').
# Convert integer to boolean
num_int = 0
bool_value = bool(num_int)  # result is False

num_int = 1
bool_value = bool(num_int)  # result is True

# Convert string to boolean
str_value = ""
bool_value = bool(str_value)  # result is False

str_value = "Hello"
bool_value = bool(str_value)  # result is True

In [66]:
#5 'list()': Converts a value to a list.
# Convert string to list of characters
str_value = "hello"
list_value = list(str_value)  # result is ['h', 'e', 'l', 'l', 'o']

# Convert tuple to list
tuple_value = (1, 2, 3)
list_value = list(tuple_value)  # result is [1, 2, 3]

In [67]:
#6 'tuple()': Converts a value to a tuple.
# Convert list to tuple
list_value = [1, 2, 3]
tuple_value = tuple(list_value)  # result is (1, 2, 3)

# Convert string to tuple of characters
str_value = "hello"
tuple_value = tuple(str_value)  # result is ('h', 'e', 'l', 'l', 'o')

In [68]:
#7 'set()': Converts a value to a set.
# Convert list to set (removes duplicates)
list_value = [1, 2, 2, 3]
set_value = set(list_value)  # result is {1, 2, 3}

# Convert string to set of characters
str_value = "hello"
set_value = set(str_value)  # result is {'h', 'e', 'l', 'o'}

In [69]:
#8 'dict()': Converts a sequence of key-value pairs into a dictionary.
# Convert list of tuples to dictionary
list_of_tuples = [('a', 1), ('b', 2)]
dict_value = dict(list_of_tuples)  # result is {'a': 1, 'b': 2}

# Convert string to dictionary (invalid usage example)
# str_value = "key=value"
# dict_value = dict(str_value)  # This will raise a TypeError

### Examples of Type Casting

In [70]:
#1. Arithmetic Operations with Mixed Types:
num1 = "5"
num2 = 3
result = int(num1) + num2  # Convert num1 to int before addition
print(result)  # Output: 8
result

8

8

In [71]:
# 2. User Input Handling:
user_input = input("Enter a number: ")  # Input is always a string
num = int(user_input)  # Convert input to integer
print(num * 2)  # Output: (twice the entered number)
num

Enter a number:  46

92

46

In [72]:
#3 Formatting Output:
age = 30
height = 5.9
info = f"I am {age} years old and {height} feet tall."
print(info)  # Output: I am 30 years old and 5.9 feet tall.
info

I am 30 years old and 5.9 feet tall.

'I am 30 years old and 5.9 feet tall.'

### Summary
Type casting in Python allows you to convert values from one type to another to perform operations, handle inputs, or format outputs. Understanding how to use these conversion functions effectively is crucial for data manipulation and ensuring your program behaves as expected.

## Question 6.How do conditional statements work in Python? Illustrate with examples.
Conditional statements in Python allow you to execute certain blocks of code based on whether a condition is 'True' or 'False'. They are fundamental for controlling the flow of a program based on dynamic conditions. Python provides several types of conditional statements, including 'if', 'elif', and 'else'.
### Basic Structure
The basic structure of a conditional statement in Python is:

if condition:
    # code to execute if condition is True
elif another_condition:
    # code to execute if another_condition is True
else:
    # code to execute if none of the above conditions are True

### 'if' Statement
The 'if' statement evaluates a condition and executes the associated block of code if the condition is 'True'.

Example

In [74]:
x = 10

if x > 5:
    print("x is greater than 5")

x is greater than 5

Explanation: In this example, the condition 'x > 5' is 'True', so the code inside the 'if' block ('print("x is greater than 5")') is executed.

'elif' Statement
The 'elif' (short for "else if") statement allows you to check multiple conditions sequentially. If the initial 'if' condition is 'False', the program checks the 'elif' condition. You can have multiple 'elif' statements.

Example:

In [75]:
x = 10

if x > 15:
    print("x is greater than 15")
elif x > 5:
    print("x is greater than 5 but less than or equal to 15")
else:
    print("x is 5 or less")

x is greater than 5 but less than or equal to 15

Explanation: Here, 'x > 15' is 'False', so the program checks 
'x > 5'. Since this condition is 'True', it prints "x is greater than 5 but less than or equal to 15".

### 'else' Statement
The 'else' statement is optional and executes a block of code if none of the preceding conditions ('if' or 'elif') are True.

Example:

In [1]:
x = 2

if x > 5:
    print("x is greater than 5")
elif x > 2:
    print("x is greater than 2 but less than or equal to 5")
else:
    print("x is 2 or less")

x is 2 or less

Explanation: Since neither 'x > 5' nor 'x > 2' is 'True', the 'else' block executes and prints "x is 2 or less".

### Nested Conditional Statements
You can nest 'if', 'elif', and 'else' statements inside each other to handle more complex conditions.

Example:

In [2]:
x = 8

if x > 0:
    if x < 10:
        print("x is between 0 and 10")
    else:
        print("x is 10 or more")
else:
    print("x is 0 or negative")

x is between 0 and 10

Explanation: Here, the outer 'if' condition checks 'if x > 0'. Since this is 'True', it then checks the inner 'if' condition 
'x < 10'. This condition is also 'True', so it prints "x is between 0 and 10".

### Conditional Expressions
Python also supports conditional expressions (ternary operators) for simple conditional assignments.

Syntax:

value = true_value if condition else false_value

Example:

In [4]:
age = 18
status = "adult" if age >= 18 else "minor"
print(status)  # Output: adult

adult

Explanation: Here, age >= 18 is True, so status is assigned the value "adult".

### Summary
Conditional statements in Python allow you to control the flow of your program based on certain conditions. The basic forms are 'if', 'elif', and 'else', and you can also use nested conditionals and conditional expressions for more complex logic. Mastery of these constructs is essential for building decision-making functionality into your programs.

## Question 7.  Describe the different types of loops in Python and their use cases with examples.
In Python, loops are used to execute a block of code repeatedly based on certain conditions. Python provides several types of loops, each suited to different use cases. The primary types of loops are 'for' loops and 'while' loops. Additionally, Python includes control statements such as 'break', 'continue', and 'pass' to manage loop execution.

### 1. 'for' Loop
The 'for' loop in Python is used to iterate over a sequence (such as a list, tuple, dictionary, set, or string) or any iterable object. It is generally used when the number of iterations is known or finite

Syntax:

for item in iterable:
    # code to execute

#### Examples:

In [5]:
#1 Iterating Over a List:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [6]:
#2. Iterating Over a Range of Numbers:
for i in range(5):
    print(i)

0
1
2
3
4

Explanation: 'range(5)' generates numbers from 0 to 4.

In [7]:
#3. Iterating Over a String:
for char in "hello":
    print(char)

h
e
l
l
o

In [8]:
#4. Iterating Over a Dictionary:
student_grades = {"Alice": 85, "Bob": 90, "Charlie": 78}
for student, grade in student_grades.items():
    print(f"{student}: {grade}")

Alice: 85
Bob: 90
Charlie: 78

### 'while' Loop
The 'while' loop is used to execute a block of code as long as a condition is 'True'. It is useful when the number of iterations is not known beforehand or when the loop needs to run until a specific condition changes.

Syntax:

while condition:
    # code to execute

#### Examples:

In [13]:
#1. Basic 'while' Loop:
count = 0
while count < 5:
    print(count)
    count += 1
"""Explanation: The loop runs as long as count is less 
than 5, incrementing count by 1 in each iteration."""

0
1
2
3
4

'Explanation: The loop runs as long as count is less \nthan 5, incrementing count by 1 in each iteration.'

In [ ]:
#2. Infinite Loop with 'break':
while True:
    response = input("Type 'exit' to stop: ")
    if response == 'exit':
        break
"""Explanation: This loop will continue to prompt the user until they type 'exit'.
The break statement is used to exit the loop."""

### 3. Loop Control Statements
Control statements like 'break', 'continue', and 'pass' help manage the flow of loops.

In [1]:
#1. 'break': Exits the loop prematurely.
for i in range(10):
    if i == 5:
        break
    print(i)
""" Explanation: The loop exits when i equals 5,
so numbers after 4 are not printed."""

0
1
2
3
4

' Explanation: The loop exits when i equals 5,\nso numbers after 4 are not printed.'

In [2]:
#2 'continue' :  Skips the rest of the code inside the loop for the current iteration and proceeds to the next iteration.
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)
'''Explanation: Even numbers are skipped due to continue,
so only odd numbers are printed.'''

1
3
5
7
9

'Explanation: Even numbers are skipped due to continue,\nso only odd numbers are printed.'

### Summary
-> for Loops: Ideal for iterating over a known sequence or range of values. Used when the number of iterations is predetermined.
-> while Loops: Suitable for situations where the number of iterations is not known and the loop should continue as long as a condition is True.
-> Control Statements: break exits the loop, continue skips the current iteration, and pass acts as a placeholder for future code.
#### Understanding and utilizing these loops and control statements effectively allows you to write flexible and efficient code to handle repetitive tasks and dynamic conditions in your programs.